* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #EFF5FB;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
body > div {
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
html {
    scroll-behavior: smooth;
}

/* 
font-family: 'Bacasime Antique', serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ysabeau SC', sans-serif;
*/

/*---Grey filter---*/
.none {
    transition: all 1s ease-in-out;
}
.greyFilter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    height: 100%;
    width: 100%;
    background-color: #00000050;
}

/*---Loading Screen---*/

.loading {
    height: 100%;
    width: 100%;

    position: absolute;
    z-index: 10;
    display: grid;
    place-items: center;
    grid-template-rows: 4fr 1fr;

    background-color: #7F8349;
}
.loading-text {
    color: #212D40;
    font-size: 13rem;
    letter-spacing: 20px;
}
.loading-loading {
    font-size: 1rem;
}

/*---Logoet (samti.dev)---*/

.logo-tekst {
    position: fixed;
    top: 1.5%;
    left: 3.2%;
    z-index: 1;

    color: #4f512d;
    font-size: clamp(2.7rem, 3.5vw, 3.5rem);
    font-weight: 700;
    letter-spacing: 3px;

    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

/*---scrollbar---*/

.scroll-bar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    height: 1%;
    border-radius: 4px;
    background-color: #7F8349;

    transition: width 200ms ease-out;
}

/*---Main grid thing thang*/

.section {
    width: 100%;
    overflow-x: hidden;
}

.maindisp{
    aspect-ratio: 4 / 10;
    width: clamp(375px, 100%, 1700px);
    margin: 85px auto 40px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    column-gap: 50px;
    row-gap: 50px;

    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

.maindisp > div {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
}

        /*------span styles--------*/

        .item1 {
            grid-column: 1 / span 2;
            display: grid;
            place-items: center;
            background-color: #11151C;
        }
            .item1 > p {
                color: #EFF5FB;
                font-family: 'Bebas Neue', sans-serif;
                font-size: 500%;
                letter-spacing: 7px;
            }
        .item2 {
            grid-column: 3 / span 2;
            grid-row: 1 / span 2;

            background-image: url("./bilderoggifs/IMG_3484.jpg");
            background-size: cover;
        }
        .item3 {
            display: grid;
            place-items: center;
        }
            .item3 > div {
                height: 90%;
                width: 90%;

                display: grid;
                place-items: center;
            }
            .item3 > div > p {
                font-size: 1.5rem;
            }
        .item4 {
            display: grid;
            place-items: center;
        }
            .item4 > div {
                height: 90%;
                width: 90%;

                display: grid;
                place-items: center;
            }
            .item4 > div > p {
                font-size: 1.5rem;
            }
        .item5 {
            grid-column: 1 / span 4;

            display: grid;
            place-items: center;
            grid-template-columns: repeat(5, 1fr);
        }
            .item5 > div {
                height: 100%;
                width: 100%;
                display: grid;
                place-items: center;
            }
            .item5 > div > i {
                font-size: 9rem;
                color: #212D40;
            }
        .item6 {
            grid-column: 1 / span 2;
            grid-row: 4 / span 3;

            display: grid;
            place-items: center;
            grid-template-rows: 1.7fr 1fr;
            background-color: rgb(25, 25, 25);
        }
            .imgDiv {
                height: 100%;
                width: 100%;

                background-image: url(./bilderoggifs/Screenshot\ 2023-08-06\ at\ 21.03.31.png);
                background-size: 100% 100%;
                background-position: center;
                cursor: pointer;

                transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
            }
            .imgDiv:hover {
                background-size: 120% 120%;
            }
            .websiteDescription {
                height: 90%;
                width: 90%;

                display: grid;
                place-items: center;
            }
                .websiteDescription > p {
                    font-size: 1.5rem;
                    color: #EFF5FB;
                }
                .theUselessWeb {
                    color: rgb(207, 63, 207);
                }
        .item7 {
            grid-column: 3 / span 2;
            grid-row: 4 / span 3;

            display: grid;
            place-items: center;
            grid-template-rows: 1.7fr 1fr;
            background-color: #9d8670;
        }
            .imgDiv2 {
                height: 100%;
                width: 100%;

                background-image: url(./bilderoggifs/Screenshot\ 2023-08-06\ at\ 23.53.01.png);
                background-size: 200% 100%;
                background-position: center;
                cursor: pointer;

                transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
            }
            .imgDiv2:hover {
                background-size: 220% 110%;
            }
            .websiteDescription2 {
                height: 90%;
                width: 90%;

                display: grid;
                place-items: center;
            }
                .websiteDescription2 > p {
                    font-size: 1.5rem;
                    color: #EFF5FB;
                }
        .item8 {
            grid-column: 1 / span 4;
            grid-row: 7 / span 2;

            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
            background-color: #000c17;
        }
            .imgDiv3 {
                height: 60%;
                width: 100%;
                border-radius: 1vmax;

                background-image: url(./bilderoggifs/Screenshot\ 2023-08-12\ at\ 17.58.19.png);
                background-size: 110% 110%;
                background-position: center;
                cursor: pointer;

                transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
            }
            .imgDiv3:hover {
                background-size: 115% 115%;
            }
            .websiteDescription3 {
                height: 90%;
                width: 90%;

                display: grid;
                place-items: center;
            }
                .websiteDescription3 > p {
                    font-size: 1.5rem;
                    color: #EFF5FB;
                }
        .item9 {
            grid-column: 1 / span 4;
            grid-row: 9 / span 2;

            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
            background-color: #a6c6eb;
        }
            .imgDiv4 {
                height: 60%;
                width: 100%;
                border-radius: 1vmax;

                background-image: url(./bilderoggifs/valgomat.png);
                background-size: 100% 100%;
                background-position: center;
                cursor: pointer;

                transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
            }
            .imgDiv4:hover {
                background-size: 105% 105%;
            }
            .websiteDescription4 {
                width: 80%;
                font-size: 1.5rem;
            }

        /*------grid animation--------*/

        .left {
            transform: translateX(-87%);
        }
        .right {

            transform: translateX(95%);
        }
        .left, .right {
            overflow: hidden;
            opacity: 0;

        }
        .showLeft,
        .showRight {
            overflow: hidden;
            opacity: 1;
            transform: translateX(0);
        }

        /*-------contact screen--------*/

        .contact {
            background-color: #212D40;
            width: clamp(375px, 100%, 2200px);
            height: 500px;
            margin: 0 auto;
            border-radius: 40px 40px 0 0;

            display: grid;
            place-items: center;
            grid-template-columns: 1fr 1fr;
        }

        .envelope, .github {
            color: #eff5fb;
            font-size: 10rem;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
        }
        .envelope:hover, .github:hover {
            color: #96ADC8;
            cursor: pointer;
        }
        .envelope:active, .github:active {
            transform: scale(0.9);
        }


/*------Menubutton--------*/

.barsButton {
    height: 135px;
    width: 135px;
    border-radius: 70px;

    display: grid;
    place-items: center;
    background-color: #7F8349;

    position: fixed;
    z-index: 5;
    top: 1.2%;
    right: clamp(5px, 4%, 140px);;

    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.barsButton > i {
    font-size: 4rem;
}
.barsButton:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #939655;
}
.barsButton:active {
    transform: scale(0.9);
    background-color: #7F8349;
}

/*------Menu--------*/

.menuBar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    
    height: 100%;
    width: clamp(500px, 40%, 730px);
    background-color: #11151C;

    transition: all cubic-bezier(.19,.19,.21,.98) 1.1s;
}

.menuBarHidden {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    
    height: 100%;
    width: 0;
    background-color: #11151C;
    border-radius: 50% 0 0 50%;

    transition: all cubic-bezier(.19,.19,.21,.98) 0.8s;
}

.griddy {
    display: grid;
    place-items: center;
}

.menuOptions {
    height: 70%;
    width: 70%;
    border-top: solid 1px #a8a8a8c2;
    border-bottom: solid 1px #a8a8a8c2;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: inline;
}

.menuOptions > div {
    margin: auto 0;
    display: inline-block;
}
.menuOptionOption {
    display: inline-block;
    color: white;
    font-size: 4rem;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}
.menuOptionOption:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.menuOptionOption:active{
    transform: scale(0.95);
}
/*------media quaries--------*/
@media (max-width: 1200px) {
    .maindisp{
        row-gap: 30px;
        column-gap: 30px;
    }
}

@media (max-width: 792px) {
    .loading-text {
        font-size: 4rem;
    }
    .maindisp{
        aspect-ratio: 2 / 17;
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(17, 1fr);
    }
        .item1 > p {
            font-size: 275%;
        }
    .item2 {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
    }
    .item3 {
        grid-row: 4 / span 1;
    }
        .item3 > div > p {
            font-size: 0.8rem;
        }
    .item4 {
        grid-row: 4 / span 1;
    }
            .item4 > div > p {
            font-size: 0.8rem;
        }
    .item5 {
        grid-column: 1 / span 2;
        grid-row: 5 / span 1;  
    }
        .item5 > div > i {
            font-size: 5rem;
        }
    .item6 {
        grid-column: 1 / span 2;
        grid-row: 6 / span 3;    
    }
        .websiteDescription > p {
            font-size: 0.9rem;
        }
    .item7 {
        grid-column: 1 / span 2;
        grid-row: 9 / span 3;  
    }
        .websiteDescription2 > p {
            font-size: 0.9rem;
        }
    .item8 {
        grid-column: 1 / span 2;
        grid-row: 12 / span 3;
        grid-template-columns: 1fr;
        grid-template-rows: 1.7fr 1fr;
    }
        .websiteDescription3 > p {
            font-size: 0.9rem;
        }
    .item9 {
        grid-column: 1 / span 2;
        grid-row: 15 / span 3;
        grid-template-columns: 1fr;
        grid-template-rows: 1.7fr 1fr;
    }
        .websiteDescription4 > p {
            font-size: 1rem;
        }

    .barsButton {
        right: 5px;
        height: 95px;
        width: 95px;
    }
    .barsButton > i {
        font-size: 3rem;
    }

    .menuBar {
        width: 100%;
    }
}
